

body {
  text-color: red;

}

.main{
  margin:100px;
  padding:50px;
  border:1px solid black;
  
}

.project-img{
  cursor:pointer;
}

.hover{
  cursor:pointer
}

#card-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}